body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: aliceblue;
}

.calculator{
    background-color: #241f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.display{
    background-color: black;
    color: lawngreen;
    font-size: 24px;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 40px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.equal{
    grid-column: span 2;
    border-radius: 20px;
    background-color: lightgreen;
}

.clear{
    grid-column: span 2;
    border-radius: 20px;
    background-color: orange;
}

button{
    padding: 20px;
    font-size: 28px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #555;
    color: rgb(2, 2, 2);
    font-weight: bold;
    
}