body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(179, 139, 102);
}

.calculator{
    background-color: #241f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.display{
    background-color: black;
    color: lawngreen;
    font-size: 24px;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 40px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

        button:hover {
            background-color: #777;
        }
        button.operator {
            background-color: #ff9500;
        }
        button.operator:hover {
            background-color: #ffb143;
        }
        button.equal {
            grid-column: span 2;
            border-radius: 20px;
            background-color: rgb(75, 165, 75);   
        }
        button.equal:hover {
            background-color: #66bb6a;
        }
        button.clear {
            grid-column: span 2;
            border-radius: 20px;
            background-color: rgb(229, 39, 55);
        }
        button.clear:hover {
            background-color: #ef5350;
        }


button{
    padding: 20px;
    font-size: 28px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #555;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}